doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='#{pathToAssets}/docs/favicon.ico')
    title Math to image
    // Bootstrap core CSS
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')
    //HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') M2I 
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
        // /.nav-collapse
    .container
      .starter-template
        h1 Just put you LaTeX to form below
        div.form-group
        textarea.form-control(rows='5',id='latex')
        button.btn.btn-lg.btn-primary(onClick = 'something()') Submit
    
    .container
       h1 And take it here
      .center
        img(id='result')   
    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(src='javascripts/bootstrap.min.js')
    script.
        var something = function() {
            function base64_encode(data) {
              //  discuss at: http://phpjs.org/functions/base64_encode/
              // original by: Tyler Akins (http://rumkin.com)
              // improved by: Bayron Guevara
              // improved by: Thunder.m
              // improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
              // improved by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
              // improved by: Rafał Kukawski (http://kukawski.pl)
              // bugfixed by: Pellentesque Malesuada
              //   example 1: base64_encode('Kevin van Zonneveld');
              //   returns 1: 'S2V2aW4gdmFuIFpvbm5ldmVsZA=='
              //   example 2: base64_encode('a');
              //   returns 2: 'YQ=='
            
              var b64 = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';
              var o1, o2, o3, h1, h2, h3, h4, bits, i = 0,
                ac = 0,
                enc = '',
                tmp_arr = [];
            
              if (!data) {
                return data;
              }
            
              do { // pack three octets into four hexets
                o1 = data.charCodeAt(i++);
                o2 = data.charCodeAt(i++);
                o3 = data.charCodeAt(i++);
            
                bits = o1 << 16 | o2 << 8 | o3;
            
                h1 = bits >> 18 & 0x3f;
                h2 = bits >> 12 & 0x3f;
                h3 = bits >> 6 & 0x3f;
                h4 = bits & 0x3f;
            
                // use hexets to index into b64, and append result to encoded string
                tmp_arr[ac++] = b64.charAt(h1) + b64.charAt(h2) + b64.charAt(h3) + b64.charAt(h4);
              } while (i < data.length);
            
              enc = tmp_arr.join('');
            
              var r = data.length % 3;
            
              return (r ? enc.slice(0, r - 3) : enc) + '==='.slice(r || 3);
            }

          var img = document.querySelector('#result');
          var data = encodeURIComponent($("#latex").val());
          // alert(data);
          $.post("latex", {tex: data}, function(data){ 
          // console.log(data); 
          // console.log(Base64.encode(data)); 
          img.src = 'data:image/png;base64,'+ base64_encode(data); });
        }